:root{
    /* purple
    --clr-bgr: #303A52;
    --clr-ctt: #574B90;
    --clr-enh: #9E579D;
    --clr-fnt: #FC85AE;
    */
    --clr: #2c53a8;
    --clr-bgr: #252A34;
    --clr-ctt: #191c20;
    --clr-enh: #ff2e63;
    --clr-fnt: #EAEAEA;
    --clr-shd: #bbd2dd;
    --clr-enh-val: 255, 46, 99;
}

p{
    margin:0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

a{
    text-decoration: none;
    color: currentColor;
}

a:hover{
    color: currentColor;
}

.form-check-input{
    accent-color: var(--clr-bgr) !important;
    background-color: var(--clr-ctt);
    border: 1px solid var(--clr-fnt);
}

.fnt-bold{
    font-weight: bold;
}

body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(37%2c 42%2c 52%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c127 C 96%2c114 288%2c52.4 480%2c62 C 672%2c71.6 768%2c182.8 960%2c175 C 1152%2c167.2 1344%2c53.4 1440%2c23L1440 560L0 560z' fill='rgba(255%2c 46%2c 99%2c 0.8)'%3e%3c/path%3e%3cpath d='M 0%2c338 C 96%2c314.6 288%2c227.4 480%2c221 C 672%2c214.6 768%2c304 960%2c306 C 1152%2c308 1344%2c246 1440%2c231L1440 560L0 560z' fill='rgba(37%2c 42%2c 52%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c437 C 96%2c454.6 288%2c532.2 480%2c525 C 672%2c517.8 768%2c401.6 960%2c401 C 1152%2c400.4 1344%2c497.8 1440%2c522L1440 560L0 560z' fill='rgba(255%2c 46%2c 99%2c 0.8)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*      NAV ONLY FOR LOW RES     */
.nav-mobile{
    display: none;
    position: relative;
}
.nav-mobile input{
    display: none;
    accent-color: var(--clr-enh);
}
.search-p-mobile{
    padding: 1rem;
}
.search-p-mobile input{
    display: block;
}

.toggle-nav{
    z-index: 999;
    font-size: 2rem;
    position: absolute;
    right: 0;
    bottom:1rem;
    background-color: var(--clr-ctt);
    padding: .5rem 1rem;
    transform:rotate(90deg);
    transition: all 0.2s ease-in-out;    
}

#toggle:checked ~ .toggle-nav{
    transform:rotate(0deg)
}

#toggle:checked ~ .mobile-selector{
    transform: translate(-50%, 1000%);
}

/*      THE BOX THAT FOLLOWS THE SELECTED RADIO     */
.myBox{
    background-color: var(--clr-ctt);
    height: 6rem;
    aspect-ratio: 1;
    border-radius: 5rem 5rem 0 0;
    position: fixed;
    bottom: 1rem;
    transition: all 0.3s ease-in-out; 
    z-index: -1;
    margin: 0 auto;
}

.myBox::before{
    content:"";
    position:absolute;

    background-color: transparent;
    left: -2.5rem;
    bottom: 3rem;
    height: 1.5rem;
    aspect-ratio: 2 / 1;
    border-radius: 0 0 2.5rem 0;
    box-shadow: 1.5rem 0 0 0 var(--clr-ctt);
}

.myBox::after{
    content:"";
    position:absolute;

    background-color: transparent;
    right: -2.5rem;
    bottom: 3rem;
    height: 1.5rem;
    aspect-ratio: 2 / 1;
    border-radius: 0 0 0 2.5rem;
    box-shadow: -1.5rem 0 0 0 var(--clr-ctt);
}


#links:checked ~ .myBox{
    transform: translateX(-4rem);
}

#search:checked ~ .myBox{
    transform: translateX(4rem);
}
/*      */
.mobile-selector{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    transition: all 0.3s ease-in-out;

    color: var(--clr-fnt);
    background-color: var(--clr-ctt);
    height: 4rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.radio-selector{
    margin-right: 5rem;
    border: 3px solid currentColor;
    border-radius: 50%;

    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    aspect-ratio: 1;
    transition: all 0.4s ease-in-out; 
}

.radio-selector:last-of-type{
    margin-right:0;
}

input[type="radio"]:checked+.radio-selector{
    color: var(--clr-enh);
    transform:translateY(-2rem) scale(1.5);
    background-color: var(--clr-ctt);
    box-shadow: 
    inset 0 0 1px 3px rgba(var(--clr-enh-val), 0.3),
    0 0 1px 3px rgba(var(--clr-enh-val), 0.3);
}


.nav-box{
    display: none;
    position:absolute;
    bottom:4rem;
    z-index: -999;

    background-color: var(--clr-bgr);
    max-height: 60vh;
    padding-bottom: 3.5rem !important;
    width: 90%;
    border-radius: 1rem 1rem 0 0;
    border: 3px solid var(--clr-enh);
    border-bottom: none;
    box-shadow: 0 -0.5rem 1rem var(--clr-ctt);

    overflow-x: hidden;
}

#links:checked ~ #fish-box1{
    display: flex;
}
#search:checked ~ #fish-box2{
    display: block;
}

#fish-box1{
    flex-direction: column;
    padding: 1rem;
    gap:0.5rem
}


/*      NAV FOR PC      */
.nav-pc{
    height: 6em;
    background-color: var(--clr-ctt);
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.8em;
}
.nav-pc img{
    height: 3.5em;
    margin-right: auto;
    margin-left: 2em;
}

.nav-pc a:last-of-type{
    margin-right: 2em;
}

/*      Carousel        */
#carouselExampleControls{
    width: 95%;
    margin: auto;
}

.car-button{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    
    font-size: 2rem;
    font-weight: bold;
    color: var(--clr-fnt);
    text-shadow: 0 0 0.4rem #000,
    0 0 0.4rem #000;
    transition: all 0.2s ease-in-out;
}
.car-button:hover{
    transform: translate(-50%, -50%) scale(1.2);
    color: var(--clr-enh);
}

.carousel-item{
    height: 16rem;
    text-align: center;
}

.car-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}

.banner-title{
    text-align: center;
}

/*      Search      */
.search-p{
    width: 95%;
    padding: 1rem;
    margin: auto;
    background-color: var(--clr-ctt);
    color: var(--clr-fnt);
    border-radius: 0 0 1rem 1rem;
    display: flex;
    gap: 1rem;
    box-shadow: 0 0.5rem 0.5rem #000a;
}

.feat{
    width: 95%;
    margin: auto;
    background-color: var(--clr-ctt);
    padding: 0.5rem;
    color: var(--clr-fnt);
    display: flex;
    box-shadow: 0 0.5rem 0.5rem #000a;
}
.search-p-mobile > .check-container{
    margin-top: 1rem;
    width: 100%;
}
.check-container{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 60%;
}

.myCheck{
    width: 16ch;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    min-width: fit-content;
    accent-color: var(--clr-enh);
    font-weight: bold;
}

.myCheck input{
    background-color: var(--clr-bgr);
}

.search-box{
    flex:1;
    height: 2rem;
}

.search-ico{
    border-radius: 0;
    border: none;
    color: var(--clr-fnt);
}

.search-ico:hover{
    color: var(--clr-enh);
}

/*      Cards container     */
#cards-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    margin: 1rem auto;
}

/*      card style      */
.card{
    height:400px;
    width:300px;
    
    background-image: url('https://thumbor.bigedition.com/very-funny-pilot-cat-costume/EwWs4acthKw0N1XqeHKSwRhg3Dg=/69x0:1184x836/800x600/filters:format(webp):quality(80)/granite-web-prod/6e/34/6e3437e8d0d9424b950696ae7e977fd5.jpeg');
    
    background-size: cover;
    background-position: center;
    
    display:flex;
    align-items: end;
    border: 3px solid var(--clr-shd);
    overflow: hidden;
    border-radius:1rem;
    box-shadow: 0 0 1rem #000;

    transition: all 0.2s ease-in-out;
  }
  
  .card-body{
    background: linear-gradient(
      transparent 0%,
      rgba(0,0,0,0.4) 10%,
      rgba(0,0,0,1) 50%);
    padding: 1rem;
    color: var(--clr-fnt);
    
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
  
    transform: translateY(45%);
    transition:   transform 0.5s ease-in-out,
                  opacity 2s ease-in-out;
  }

  .title{
    position:relative;
  }
  .title::after{
    content: '';
    height: 5px;
    width: calc(100% + 1rem);
    background-color: var(--clr-enh);
  
    position: absolute;
    left:0;
    bottom:0;
  
    transform-origin: right;
    transition: all 0.5s ease;
  
    z-index: -1;
  }
  
  .descr{
      height: 9ch;
      width: inherit;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: rgba(0,0,0,0.25);
      border-radius: 0.5rem;
      padding: 0.5rem;
  
      transition: all 0.5s ease-in-out;
  }
  
  .card-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price{
    font-weight: bold;
  }
  
  .view-more{
    text-decoration:none;
    cursor: pointer;
    display: inline;
    color: var(--clr-fnt);
    background-color: var(--clr-ctt);
    padding: 0.25em 0.5em;
    font-weight: bold;
    border-radius: 0.25rem;
    transition: all 0.125s ease-in-out;
    text-shadow: none;
  }
  
  .view-more:hover{
      color: var(--clr-ctt);
      background-color: var(--clr-fnt);
  }
/*      Contact     */
fieldset{
    width: fit-content;
    color: var(--clr-fnt);
    background-color: var(--clr-ctt);

    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    margin: 2rem auto;

    box-shadow: 3px 3px 10px var(--clr-ctt);
    box-shadow: 0rem 1rem 1rem #000a;
}

fieldset *{
    width: 100%;
    border: none;
}

fieldset label, fieldset p{
    color: var(--clr-enh);
    font-weight: bold;
    
}

fieldset input, fieldset textarea{
    color: var(--clr-fnt);
    border-radius: 1rem;
    background-color: var(--clr-ctt);
    border: 1px solid var(--clr-bgr);
}

/*      Details     */
.details-container{
    color: var(--clr-fnt);
    background-color: var(--clr-ctt);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
    width: fit-content;
    margin: 5rem auto;
    border-radius: 1rem;
    font-weight: bold;

    text-shadow: 3px 3px 5px #000;
    box-shadow: 3px 3px 10px var(--clr-ctt);
}

.details-container img{
    height: 400px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 1rem;
}

.details-container h1{
    color: var(--clr-enh)
}

.details{
    padding-left: 1rem;
    border-left: 3px solid var(--clr-fnt);
}

/*      Stats       */
.table{
    width: 80%;
    margin: auto;
}

.table, caption{
    box-shadow: 3px 3px 10px var(--clr-ctt);
}

.table tr > *{
    width: 33%;
}

caption{
    color: var(--clr-fnt);
    background-color: var(--clr-ctt);
    font-weight: bold;
    padding-left: 2rem;
}

/*      Footer      */
footer{
    height: 5rem;
    background-color: var(--clr-ctt);
    color: var(--clr-fnt);

    font-size: 1.5rem;
    font-weight: bold;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: auto;
    box-shadow: 0 -0.5rem 1rem #000a;
}

footer div{
    display: flex;
    gap: 1.5rem;
}

footer > *{
    margin: 0 2.5rem;
}


/*      ---------- Media Query ----------     */

/*      CARD ANIMATIONS FOR PC       */
@media (hover) {
    /*      ----- CARD ANIMATIONS -----    */ 
    /*  Make the bar appear */
    .title::after{
        transform: scaleX(0);

    }
    .card:hover .title::after{
        transform: scaleX(1);
    }

    .card:hover{
        transform: scale(1.03);
    }

    /*  Make the body appear    */
    .card-body{
        transform:translateY(75%)
    }
    .card:hover .card-body{
        transition-delay: 0.5s;
        transform: translateY(45%);
    }
    
    /*  Make the CONTENT of the body appear */
    .card-body > .descr{
        opacity: 0;
    }

    .card:hover .card-body > .descr{
        transition-delay: 0.9s;
        opacity: 1;
    }
}

/*      ----- LAPTOP -----        */
@media only screen and (min-width: 1024px) and (max-width: 1439px){
    .nav-pc{
        font-size: 0.8rem;
        height: fit-content;
        padding: 1rem;
        flex-flow: row wrap;
    }

    .search-p{
        font-size: 0.8rem;
    }
}


/*      ----- MOBILE S -> TABLET -----      */
@media only screen and (min-width: 320px) and (max-width: 1023px){
    /*+++ NAV +++*/
    .nav-pc a, .search-p:nth-child(3){
        display: none;
    }
    .feat{
        border-radius: 0 0 1rem 1rem;
    }
    .nav-pc img{
        margin: 0 auto 0 1rem;
    }
    header{
        z-index: 999;
        position:fixed;
        top:0;
        left:0;
        width: 100%;
    }

    .nav-mobile{
        display: block;
        background-color: var(--clr-ctt);
    }

    #carouselExampleControls{
        margin-top: 6rem;
    }
    .car-image{
        width: 100%;
    }

    .mybutton{
        flex: 1;
        min-width: 40%;
        max-height: 3em;
    }

    footer p{
        font-size: 0.5rem;
    }

    .search-p{
        flex-direction: column;
        align-items: start;
    }

    form{
        width: 90%;
        margin: auto;
    }

    .table{
        width: 90%;
    }

    .table th, .table td{
        font-size: 0.8rem;
    }
}