body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.ejercicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
}

/*      EJ 1        */
.box1{
    height: 3rem;
    aspect-ratio: 1;
    background-color:gray;
}

.bred{
    background-color: red;
}

/*      EJ 2        */
.box2{
    height: 3rem;
    aspect-ratio: 3;
    background-color: #113;
}